annotated-types
anyio
cachetools
certifi
charset-normalizer
click
colorama
dotenv
exceptiongroup
fastapi
google-auth
google-genai
h11
httpcore
httpx
idna
pyasn1
pyasn1_modules
pydantic
pydantic_core
python-dotenv
requests
rsa
sniffio
starlette
tenacity
typing-inspection
typing_extensions
urllib3
uvicorn
websockets
yt-dlp
faster-whisper